<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>$!{title}</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    <link href="css/public.css" type="text/css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="css/login.css" type="text/css" rel="stylesheet">
    <link href="css/jg_login.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/lib/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/lib/jquery.form.js"></script>

</head>
<body class="jg_head">
    $screen_content
</body>
</html>
