<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StudentBasicMapper">
    <resultMap type="StudentBasicDO" id="defaultMap">
        <id column="id" property="id"/>
        <result column="student_id" property="studentId"/>
        <result column="gender" property="gender"/>
        <result column="marry_status" property="marryStatus"/>
        <result column="children" property="children"/>
        <result column="email" property="email"/>
        <result column="qq" property="qq"/>
        <result column="residence" property="residence"/>
        <result column="address" property="address"/>
        <result column="census_address_type" property="censusAddressType"/>
        <result column="census_type" property="censusType" />
        <result column="card_font_image" property="cardFontImage" />
        <result column="card_back_image" property="cardBackImage"/>
        <result column="census_index_image" property="censusIndexImage"/>
        <result column="census_self_image" property="censusSelfImage"/>
        <result column="created" property="created"/>
        <result column="modified" property="modified"/>
    </resultMap>

    <sql id="all">
    id,student_id,gender,marry_status,children,email,qq,residence,address,census_address_type,census_type,card_font_image,
    card_back_image,census_index_image,census_self_image,created,modified
	</sql>


    <insert id="insert" parameterType="StudentBasicDO">
        INSERT INTO xhd_student_basic(student_id,gender,marry_status,children,email,qq,residence,address,census_address_type,census_type,card_font_image,
         card_back_image,census_index_image,census_self_image,created,modified)
        VALUES (#{studentId},#{gender},#{marryStatus},#{children},#{email},#{qq},#{residence},#{address},#{censusAddressType},#{censusType},#{cardFontImage},
        #{cardBackImage},#{censusIndexImage},#{censusSelfImage},NOW(),NOW())
    </insert>

    <update id="update" parameterType="StudentBasicDO">
        update xhd_student_basic
        set gender = #{gender},
        marry_status = #{marryStatus},
        children = #{children},
        email = #{email},
        qq = #{qq},
        residence = #{residence},
        address = #{address},
        census_address_type = #{censusAddressType},
        census_type = #{censusType},
        card_font_image = #{cardFontImage},
        card_back_image = #{cardBackImage},
        census_index_image = #{censusIndexImage},
        census_self_image = #{censusSelfImage},
        modified = NOW()
        where student_id = #{studentId}
    </update>

    <select id="getByStudentId" resultMap="defaultMap">
        SELECT <include refid="all"/> from xhd_student_basic where student_id=#{value} limit 1;
    </select>

    <select id="getByStudentIds" resultMap="defaultMap">
        SELECT <include refid="all"/> FROM xhd_student_basic where
         student_id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        limit 20
    </select>

</mapper>