<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>contract</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
        body{font-family: Arial,simsun,sans-serif;}
        h2{margin:0 auto;}
        table{width:100%;border-collapse: collapse;}
        table td{border:1px solid #666;padding:3px;height:30px;vertical-align:middle; text-align:center;}
        table th{border:1px solid #666;padding:3px;height:30px;vertical-align:middle; text-align:center;}
        b{font-size:16px;}
        .fr{float:right;}
    </style>
</head>
<body>
<div style="text-align: center;">
    <h2>信用咨询及管理服务合同</h2><br/>
    <div style="text-align: right;">
        <b>协议编号：XY-$!{beginDate}-$!{bidding.id}</b>
    </div>
    <br/>
</div>
<div>
    <p class="clear">本合同由以下双方于____年__月__日签署并执行：</p>
    <br/>
    <b>甲方：</b>
    <p><b>真实姓名：</b>$!{student.name}<br/>
        <b>身份证号：</b>$!{student.cardId}
    </p>
    <br/>
    <p><b>丙方顾问：</b>北京学好贷信息科技有限公司<br/>
        <b>联系方式：</b>北京市东城区东四北大街107号科林大厦A座318<br/>
        <b>邮编：</b>100007
    </p>
    <br/>
</div>
<div>
    <p>
        鉴于：<br/>
        甲方有资金需求以及信用咨询管理需求； 乙方为国内领先的专业信用咨询管理服务平台，拥有成熟
        的信息技术、网络平台、信用评分、信用管理等专业服务体系，可以审核甲方借款需求信息并推荐
        给平台投资人以促成相关借款交易，且能为甲方借款提供全程咨询服务。 根据《中华人民共和国合
        同法》，甲乙双方本着自愿、平等、公正的原则签署本合作协议。
    </p>
    <br/>
</div>
<div>
    <h3>第一条 服务内容与服务</h3>
    <p>
        甲方自愿申请成为乙方互联网平台的会员，乙方通过互联网、客户服务中心、专业借款顾问团队为
        甲方持续提供服务。甲方委托乙方，通过网络、电话或现场提供如下信用咨询及管理服务，满足甲
        方需求： 1）借款信息咨询服务<br/> 2）个人信用评估服务<br/> 3）借款资金对接服务<br/> 4）信用管理服务。根
        据上述约定服务，甲方自愿向乙方支付约定的借前咨询服务费及借后信用管理费（下文中，借前咨
        询服务费及借后信用管理费统称为“平台服务费”）。
    </p>
    <br/>
</div>
<div>
    <h3>第二条 甲方权利与义务</h3>
    <p>
        1）甲方有权向乙方了解乙方提供的信用咨询及管理服务进度及结果； <br/>
        2）甲方在获取乙方信用咨询及管理服务的全过程中，必须真实准确向乙方提供所要求提供的个人信息，
        如甲方提供不真实信息或有意隐瞒重要信息，视为违约 ，须对乙方承担违约责任；<br/> 3）甲方自愿接受成为乙方平台注册用
        户，授权乙方基于甲方提供的信息及乙方独立获取的信息管理甲方的信用信息；<br/> 4）甲方有义务按
        照本协议的规定向乙方支付平台服务费；<br/> 5）甲方同意，乙方依据出借人的委托协调甲方按照约定
        期限及金额进行还款，甲方有义务无条件及时配合乙方工作；<br/> 6）对于甲方与特定的出借人签订的
        《借款协议》（协议编号为JK-$!{beginDate}-$!{bidding.id}，借款金额为人民币$!{bidding.required}元整）及本协议中所规定的任何
        应从甲方专用账户（详见本合同第五条）划扣的款项，甲方在此同意由乙方或乙方委托的第三方合
        作机构每月从甲方专用账户中准确划扣相应数额。如果出现多划扣现象，由乙方负责将多划扣的部
        分退还给甲方。
    </p>
    <br/>
</div>
<div>
    <h3>第三条 乙方权利与义务</h3>
    <p>
        1） 乙方接受甲方的委托后，须为甲方提供约定的信用咨询及管理服务的全程信息，并在过程中协
        助其办理各项手续；<br/> 2） 乙方有权向甲方收取双方约定的平台服务费；<br/> 3） 乙方有权以信用评分为
        目的使用甲方个人信用信息，并提供给乙方指定合作方；<br/> 4） 对于甲方提供给乙方的个人证件及其
        他各类信息，乙方有义务在本协议约定下为甲方保密（但第六条约定的情形除外）；<br/> 5） 乙方有权
        通过甲方提供的个人信用信息及行为记录进行审核，根据甲方需要可以为甲方提供上述信用咨询及
        管理服务内容的相关建议；<br/> 6） 乙方有权根据乙方对甲方的评分结果决定是否进一步提供信用咨询
        及管理服务；
    </p>
    <br/>
</div>
<div>
    <h3>第四条 平台服务费的定义及支付方式</h3>
    <p>
        1）在本合同中，“平台服务费”是指乙方为甲方提供信用咨询及管理服务，而由甲方支付给乙方的
        约定费用，具体分为“借前咨询服务费”和“借后信用管理费”。 在本合同协议中，“借前咨询服
        务费”是指乙方为甲方提供小微金融信息咨询服务，信用评估服务及小微资金对接服务，而由甲方
        支付给乙方的约定费用。 在本合同中，“借后信用管理费”是指乙方作为平台，在甲方收到出借人
        提供的资金后，持续跟踪甲方信用信息情况，督促管理甲方与出借人合同履约情况，而由甲方支付
        给乙方的费用。<br/>
        2）甲方同意在以下约定的还款日按月向乙方支付平台服务费，服务费总额为人民币(大写)$!{feeCapital}(￥$!{fee})，分期支付方式见下表。<br/>
    </p>
    <div>
        <br/>
        <table cellpadding="0" cellspacing="0">
            <tr style="text-align: center;">
                <th>期次</th>
                <th>还款日(18：00前，节假日不顺延)</th>
                <th>月平台服务费金额(元)</th>
            </tr>
            #foreach($bill in $!bills)
                #if($!bill.fee > 0)
                    <tr>
                        <td>$!bill.stage</td>
                        <td>$!bill.repayDeadline</td>
                        <td>$!bill.fee</td>
                    </tr>
                #end
            #end
        </table>
        <br/>
    </div>
    <p>
        3）月平台服务费由甲方授权乙方或乙方委托的第三方合作机构在各还款日一次性代为扣除。(如甲
        方未按约定时间支付上述平台服务费，即视为违约，甲方承担本协议第六条违约责任)：<br/>
        4）若甲方向出借人提前还款，本协议约定的平台服务费均不予返还，且甲方需要向乙方支付提前还
        款违约金：提前还款违约金的金额为未偿还本金的百分之一点五。
    </p>
    <br/>
</div>
<div>
    <h3>第五条 甲方专用账户及款项扣划</h3>
    <p>
        甲方在此不可撤销地同意委托乙方及与乙方协议合作的支付机构直接从借款人帐户扣划相应金额用
        于支付借款人应付的平台服务费、利息、本金、违约金及其他费用。在还款过程中，甲方有义务配
        合为达成还款而进行的包括但不限于账户验证、账户变更、身份验证等事项，否则因甲方不配合而
        造成的未能正常还款的罚息、违约金等损失由甲方负责。
    </p>
    <br/>
</div>
<div>
    <h3>第六条 违约规定</h3>
    <p>
        1）任何一方违反本协议的约定，使得本协议的全部或部分不能履行，均应承担违约责任，并赔偿对
        方因此遭受的损失（包括由此产生的诉讼费和律师费等其他费用）；如双方均违约，根据实际情况
        各自承担相应的责任。<br/>2）甲方授权乙方保留将甲方违约失信的相关信息公开披露的权利。因甲方违
        约而带来的调查及诉讼费用将由甲方承担。<br/>3）甲方未及时足额偿还借款时，按以下原则办理： 应
        偿还项目的先后顺序为：催收费用（如有）、逾期费用、平台服务费、应还利息、应还本金。累计
        多期逾期还款的情况下，优先偿还顺序在先的项目；同一应偿还项目中，优先偿还期限在先的款项
        。
    </p>
    <br/>
</div>
<div>
    <h3>第七条 通知</h3>
    <p>
        1）为通知之目的，各方确认本协议文首所载地址为有效通讯地址。甲方确保本协议文首所载信息真
        实、有效、准确。甲方确 认本协议文首所列的通讯方式可以作为本协议项下通知之目的而使用，且
        紧急联系人可以作为甲方合法有效的收信代理，即 紧急联系人收到通知视为甲方收到通知。<br/>
        2）甲方有义务在其重要信息变更之日起三日内提供更新后的信息给乙方和出借人，包含但不限于： 甲方
        本人、甲方的家庭联系人及紧急联系人的下列信息：工作单位名称、电话及地址、居住地址、居住
        地电话、手机号码、电子邮箱。若因甲方不及时提供上述变更信息而带来的乙方的调查及诉讼等其
        他相关费用将由甲方承担。
    </p>
    <br/>
</div>
<div>
    <h3>第八条 其他</h3>
    <p>
        1）甲乙双方签署本协议后，本协议于文首所载日期成立并生效。<br/> 2）本协议及其附件的任何修改、
        补充均须以书面形式作出。<br/> 3）本协议的传真件、复印件、扫描件等有效复本的效力与本协议原件
        效力一致。<br/> 4）甲乙双方确认，本协议的签署、生效和履行以不违反中国的法律法规为前提。如果
        本协议中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响本
        协议其他条款的效力。<br/> 5）如果甲乙双方在本协议履行过程中发生任何争议，应友好协商解决；如
        协商不成，则须提交该协议签署地人民法院进行诉讼。<br/> 6）本协议一式贰份，甲方保留壹份，乙方
        保留壹份，具有同等法律效力。
    </p>
    <br/><br/><br/>
</div>
<div style="text-align: left;">
    <b>甲方：</b>$!{bidding.studentName}<br/><br/>
    <b>签字：</b>
    <br/><br/>
</div>
<div style="text-align: left;">
    <b>乙方：</b>北京学好贷信息科技有限公司<br/><br/>
    <b>签章：</b>
    <br/>
</div>
</body>
</html>